<div id="container">
  <div id="toolbar">
    <div>
      <input type="text" [(ngModel)]="newRoom" placeholder="Enter room ID">
      <input type="text" [(ngModel)]="userName" placeholder="Enter name">
      <button id="join_btn" (click)="joinRoom()" mat-raised-button color="primary">JOIN IN</button>
    </div>
    <div id="send_msg">
      <input id="send_input" type="text" [(ngModel)]="newMessage" placeholder="Enter msg">
      <button id="send_btn" (click)="sendMessage()" >Send </button>
    </div>
  </div>
</div>

<div id="container">
  <div id="chatbox">
    <div [ngClass]="msg.from === userName ? 'from_me' : 'from_other'" *ngFor="let msg of messages">
      <div id="container_msg">
        <div [ngClass]="{'right_msg': msg.from === userName}">
          <div [ngClass]="{'my_username': msg.from === userName}" id="user">{{msg.from}}</div>
        </div>
        <div [ngClass]="{'right_msg': msg.from === userName}">
          <div [ngClass]="{'my_msg': msg.from === userName}" id="message">{{msg.msg}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
